[Unit]
Description=Eddb Dataprotectionlaw Container

[Container]
Label=app=eddb-dataprotectionlaw
ContainerName=eddb-dataprotectionlaw
Image=localhost/eddb-dataprotectionlaw:latest
PublishPort=8085:3000
Environment=NOCODB_API_TOKEN=your_token_here

[Service]
ExecStartPre=/usr/bin/podman rm -f eddb-dataprotectionlaw

[Install]
WantedBy=default.target
